include pyproject.toml

# Include the README
include *.md

# Include the license file
include LICENSE.txt

# Include setup.py
include setup.py

# Include data files
include src/itaxotools/concatenator_gui/docs/*
include src/itaxotools/concatenator_gui/logos/*
